<?xml version="1.0" ?>
<launch>
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="1" />
  <arg name="yaw" default="0" />

<include file="$(find wheelchair_description)/launch/wheelchair_description.launch" />  
<include file="$(find wheelchair_description)/launch/wheelchair_control.launch" />

<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model wheelchair  -x $(arg x) -y $(arg y) -z $(arg z) -R 0 -P 0 -Y $(arg yaw)"/>
  </launch>
