<?xml version="1.0" ?>
<model>
    <!-- Wheelchair model https://free3d.com/3d-model/wheelchair-v1--593209.html -->
    <name>wheelchair</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description></description>
</model>
